<html>
<head>
    <link rel="stylesheet" href="https://cv.uoc.edu/UOC/GEFv2/gef/css/gef.css">
</head>

<body>
<header id="main-header-4" class="brand-header brand-ri header-4">
    <div class="header-container clearfix">
        <div class="col-clear nav-menu-top">
            <div class="hidden-xs hidden-sm hidden-md">
                <div class="col-xs-2 col-sm-1 top-logo top-logo-desktop custom-spacing"><a href="#"><img
                        src="https://cv.uoc.edu/UOC/GEFv2/assets/img/logo-uoc-ri-white.png" alt="Logo UOC"></a></div>
                <div class="col-md-8 col-lg-8 custom-spacing">
                    <span class="ruler ruler--dynamic ruler--white w100-inline-block"></span>
                    <p class="nav-menu-title title-more-size"> R&amp;I</p>
                    <span class="ruler ruler--dynamic ruler--white w100-inline-block"></span>
                </div>
                <div class="col-md-2 custom-spacing">
                    <span class="ruler ruler--dynamic ruler--white w100-inline-block"></span>
                    <p class="nav-menu-title-aside"> Universitat Oberta de Catalunya</p>
                    <span class="ruler ruler--dynamic ruler--white w100-inline-block"></span>
                </div>
                <div class="col-md-1 custom-spacing">
                    <span class="ruler ruler--dynamic ruler--white w100-inline-block"></span>
                    <div data-dropdown="" class="dropdown language-drop-down">
                        <button data-dropdown-trigger="" aria-label="Cambio de idioma" aria-expanded="false"
                                aria-controls="dropdown__content4" class="btn btn--primary dropdown__trigger">CA<span
                                class="icon icon--arrow-down icon--small bold m-left-x2"></span></button>
                        <div id="dropdown__content3" role="menu" class="dropdown__content dropdown__list">
                            <button aria-label="Cerrar idioma" aria-controls="dropdown__content3"
                                    data-dropdown-trigger="" class="btn btn--primary close"><span aria-hidden="true"
                                                                                                  class="icon icon--close"></span>
                            </button>
                            <ul data-animated="false">
                                <li role="menuitem" class="dropdown__item is-active"><a href="#" class="dropdown__link">Català</a>
                                </li>
                                <li role="menuitem" class="dropdown__item"><a href="#" lang="es" class="dropdown__link">Castellano</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span class="ruler ruler--dynamic ruler--white w100-inline-block"></span>
                </div>
            </div>
            <div class="hidden-lg hidden-xl">
                <div class="mobile-menu">
                    <div class="menu-mobile-container">
                        <div class="top-logo"><a href="#"><img
                                src="https://cv.uoc.edu/UOC/GEFv2/assets/img/logo-uoc-white.png" alt="Logo UOC"></a>
                        </div>
                        <div class="top-slogan">
                            <div class="col-xs-5 col-sm-5 title-wrapper"><span
                                    class="ruler ruler--double ruler--white ruler--dynamic nav-menu-title left-title">R&amp;I</span>
                            </div>
                            <div class="col-xs-7 col-sm-7 title-wrapper"><span
                                    class="ruler ruler--double ruler--white ruler--dynamic nav-menu-title">Universitat Oberta<br
                                    aria-hidden="true">de Catalunya</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<ul class="list-group">
    <li class="list-group-item">Fullname {{authenticationHolder.getFullName()}}</li>
    <li class="list-group-item">Is Admin {{authenticationHolder.isAdmin()}}</li>
    <li class="list-group-item">Is Instructor {{authenticationHolder.isInstructor()}}</li>
    <li class="list-group-item">Course Code {{authenticationHolder.getCourseKey()}}</li>
    <li class="list-group-item">Course Title {{authenticationHolder.getCourse().getTitle()}}</li>
</ul>
<footer class="main-footer" role="contentinfo">
    <nav class="col-lg-12" aria-lablel="Navegació del peu de pàgina">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-4 col-xl-4">
            <p>Universitat Oberta de Catalunya</p>
        </div>
        <ul class="nav-brands">
            <li class="col-xs-12 col-md-1 selected">
                <a href="#" title="UOC" class="w100-inline-block">
                    <span class="brand-text">UOC</span>
                    <span class="ruler ruler--secondary"></span>
                </a>
            </li>
            <li class="col-xs-12 col-md-2">
                <a href="#" title="UOC R&amp;I" class="w100-inline-block">
                    <span class="brand-text">UOC R&amp;I</span>
                    <span class="ruler ruler--ri"></span>
                </a>
            </li>
            <li class="col-xs-12 col-md-1">
                <a href="#" title="UOC X" class="w100-inline-block">
                    <span class="brand-text">UOC X</span>
                    <span class="ruler ruler--x"></span>
                </a>
            </li>
            <li class="col-xs-12 col-md-1">
                <a href="#" title="UOC Corporate" class="w100-inline-block">
                    <span class="brand-text">UOC Corporate</span>
                    <span class="ruler ruler--corporate"></span>
                </a>
            </li>
            <li class="col-xs-12 col-md-1">
                <a href="#" title="UOC Alumni" class="w100-inline-block">
                    <span class="brand-text">UOC Alumni</span>
                    <span class="ruler ruler--alumni"></span>
                </a>
            </li>
            <li class="col-xs-12 col-md-1">
                <a href="#" title="UOC Media" class="w100-inline-block">
                    <span class="brand-text">UOC Media</span>
                    <span class="ruler ruler--media"></span>
                </a>
            </li>
        </ul>
    </nav>
</footer>
<script src="https://cv.uoc.edu/UOC/GEFv2/gef/js/gef.min.js"></script>
</body>
</html>