<!DOCTYPE html>

<html data-layout-decorator="layout">

<body>
<div class="container" data-layout-fragment="content">

    <div role="document" class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <h4 class="h4" data-th-text="#{global.titolError}">Error</h4>
            </div>
            <div class="modal__body">
                <div class="alert alert--error">
                    <span aria-hidden="true" class="icon icon--x-circle icon--before color-red"></span>
                    Error 400
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>